@import './sizes.scss';

.mainFooter {
  align-items: stretch;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  padding: 4vw;
  position: relative;

  @media (max-width: $l) {
    align-items: flex-end;
    padding: 2vw;
  }

  @media (max-width: $sm) {
    display: block;
    padding-bottom: 16vw;
  }
}

.footerLeft {
  flex: 1;
  max-width: 42%;
  position: relative;

  @media (max-width: $l) {
    max-width: 50%;
    padding-bottom: 8vw;
  }

  @media (max-width: $sm) {
    max-width: 100%;
    padding-bottom: 0;
  }
}

.footerRight {
  flex: 1;
  margin: 0 0 0 auto;
  max-width: 50%;
  position: relative;

  @media (max-width: $l) {
    max-width: 46%;
  }

  @media (max-width: $sm) {
    margin: 2rem 0 0;
    max-width: 100%;
  }
}

.footerContact {
  border-bottom: 3px solid var(--light);
  display: inline-flex;
  margin: 0 auto 1rem;
  text-align: left;
}

.footerMail {
  display: block;
  font-size: 3.6vw;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 1vw;
  text-transform: uppercase;

  @media (max-width: $l) {
    font-size: 3vw;
  }

  @media (max-width: $sm) {
    font-size: 8vw;
  }

  &:hover {
    color: var(--red);
  }
}

.footerSeller {
  line-height: 1.5;
  margin-bottom: 2vw;

  @media (max-width: $sm) {
    margin-bottom: 12vw;
  }
}

.footerPhone {
  margin-bottom: 2vw;

  @media (max-width: $sm) {
    margin-bottom: 12vw;
  }

  .phoneLink {
    display: block;
    font-size: clamp(21px, 2vw, 3rem);
    font-weight: 500;
    margin-bottom: 1vw;
    text-decoration: underline;

    &:hover {
      color: var(--red);
    }
  }

  span {
    display: block;
    font-size: var(--fontSize);
    max-width: 18vw;

    @media (max-width: $sm) {
      max-width: 80%;
    }
  }
}

.footerSocials {
  display: flex;
  margin-top: 2rem;

  @media (max-width: $sm) {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

.socialItem {
  align-items: flex-start;
  display: flex;
  line-height: 1;
  font-size: var(--fontSize);
  margin-right: 1rem;

  .socialItemLink {
    margin-right: 0.25rem;
  }

  &:hover {
    color: var(--red);
  }
}

.footerTop {
  &:hover {
    .footerMail {
      color: var(--red);
    }

    .address {
      border-top-color: var(--red);
    }
  }
}

.footerBottom {
  bottom: 0;
  color: var(--light);
  position: absolute;

  @media (max-width: $sm) {
    position: relative;
  }

  p {
    display: inline-block;
    font-size: clamp(12px, 0.9vw, 2rem);
    font-weight: 400;
    margin-right: 0.5rem;
    opacity: 0.25;

    &::after {
      content: '/';
      margin-left: 0.5rem;
    }

    &:last-of-type::after {
      content: '';
    }
  }
}

.images {
  align-items: flex-end;
  display: flex;
  pointer-events: none;

  .smallImage {
    background-color: var(--black);
    flex: 1;

    @media (max-width: $l) {
      display: none;
    }

    @media (max-width: $sm) {
      margin-left: 0;
    }
  }

  .bigImage {
    background-color: var(--black);
    flex: 3;
    margin-left: 0.5vw;

    @media (max-width: $l) {
      margin-left: 0;
    }
  }
}
