@import './sizes.scss';

.mainHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 4vw;
  mix-blend-mode: difference;
  position: absolute;
  top: 4vw;
  width: 92vw;
  z-index: 99;

  @media (max-width: $l) {
    left: 2vw;
    width: 96vw;
  }

  @media only screen and (max-width: $sm) {
    padding: 0 2vw;
    top: 4vw;
  }
}

.navContainer {
  align-items: center;
  display: flex;
}

.logo {
  align-items: flex-start;
  display: flex;
  color: var(--sand);
  font-size: clamp(21px, 1.5vw, 42px);
  letter-spacing: -0.01em;
  font-weight: 500;
  line-height: 1;

  .logoType {
    margin-right: 3px;
    z-index: 2;
  }

  .logoStudio {
    margin-right: 1px;
    z-index: 1;
  }

  .logoArrowWrapper {
    height: 0.4em;
    width: 0.4em;
  }

  .logoArrow {
    margin-top: 1px !important;
  }
}

.navLink {
  color: var(--sand);
  font-size: clamp(14px, 1.25vw, 36px);
  margin-right: 2rem;

  @media only screen and (max-width: $sm) {
    display: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.activeNavLink {
  text-decoration: underline;
}

.navigate {
  color: var(--sand);
  font-size: var(--fontSize);
  margin-right: 2vw;
  cursor: pointer;

  @media (max-width: $sm) {
    display: none;
  }
}

.menuActivator {
  align-items: flex-end;
  border-radius: 50%;
  color: var(--sand);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 3vw;

  span {
    background-color: var(--sand);
    display: block;
    height: 0.5vw;
    margin: 0.1vw 0;
    width: 3vw;

    &:last-of-type {
      width: 1.5vw;
    }
  }

  @media (max-width: $sm) {
    width: 10vw;

    span {
      height: 2vw;
      width: 10vw;

      &:last-of-type {
        width: 5vw;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.8);
  }
}
