@import './sizes.scss';

.mainHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  mix-blend-mode: difference;
  padding: 0 4vw;
  position: absolute;
  top: 4vw;
  width: 100%;
  z-index: 99;

  @media only screen and (max-width: $sm) {
    padding: 0 3vw;
    top: 1rem;
  }
}

.navContainer {
  align-items: center;
  display: flex;
}

.logo {
  align-items: flex-start;
  display: flex;
  color: var(--light);
  font-size: clamp(21px, 1.75vw, 42px);
  font-weight: 600;
  line-height: 1;

  .logoType {
    margin-right: 3px;
  }

  .logoArrow {
    margin-top: 1px !important;
  }
}

.navLink {
  color: var(--light);
  font-size: clamp(14px, 1.25vw, 36px);
  margin-right: 2rem;

  @media only screen and (max-width: $sm) {
    display: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.activeNavLink {
  text-decoration: underline;
}

.menuActivator {
  align-items: flex-end;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 3vw;

  span {
    background-color: var(--light);
    display: block;
    height: 0.5vw;
    margin: 0.1vw 0;
    width: 3vw;

    &:last-of-type {
      width: 1.5vw;
    }
  }

  @media (max-width: $sm) {
    width: 10vw;

    span {
      height: 2vw;
      width: 10vw;

      &:last-of-type {
        width: 5vw;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.menuButton {
  background-color: var(--dark);
  border: 1px solid var(--light);
  border-radius: 25vw;
  color: var(--light);
  cursor: pointer;
  display: inline-block;
  font-size: clamp(14px, 1vw, 36px);
  line-height: 1;
  overflow: hidden;
  padding: 1vw;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  @media only screen and (max-width: $sm) {
    padding: 2vw;
  }
}
