@import './sizes.scss';

.heroSection {
  background-color: var(--dark);
  margin: 12vw auto;
  position: relative;
  z-index: 90;
  width: 92vw;

  @media (max-width: $l) {
    width: 96vw;
  }

  @media (max-width: $sm) {
    margin: 30vw auto;
    width: 100vw;
  }
}

.heroTop {
  align-items: stretch;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $sm) {
    display: block;
    margin: 0 4vw 16vw;
  }
}

.heading {
  color: var(--sand);
  display: inline-block;
  font-size: 3.75vw;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.015em;
  margin: 0;
  //margin-right: 10vw;
  width: 50%;

  @media (max-width: $l) {
    font-size: 4.8vw;
    margin-right: 4vw;
  }

  @media only screen and (max-width: $sm) {
    font-size: 7.5vw;
    margin-bottom: 8vw;
    margin-right: 0;
    max-width: none;
    text-align: center;
    width: 100%;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;

  @media only screen and (max-width: $sm) {
    width: 100%;
  }
}

.text p {
  color: var(--sand);
  font-size: clamp(1.1em, 1.5vw, 36px);
  font-weight: 400;
  line-height: 1.35;
  max-width: 100vw;
  vertical-align: top;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  @media only screen and (max-width: $sm) {
    text-align: center;
  }
}

.contact {
  align-items: center;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 2rem;
  padding: 0;

  @media only screen and (max-width: $sm) {
    justify-content: space-evenly;
  }

  .mail {
    background-color: var(--sand);
    border-radius: 25vw;
    display: inline-block;
    font-size: clamp(14px, 1.25vw, 36px);
    font-weight: 500;
    line-height: 1;
    padding: 1vw 3vw;
    position: relative;
    text-align: center;

    @media only screen and (max-width: $sm) {
      padding: 4vw 12vw;
    }
  }

  .icon {
    display: block;
    height: 2vw;
    width: 2vw;

    @media only screen and (max-width: $sm) {
      height: 6vw;
      width: 6vw;
    }
  }

  li {
    display: flex;
    justify-content: flex-start;
    //margin-right: 1rem;

    a {
      margin-right: 0.25rem;
    }
  }
}

.heroMiddle {
  margin-top: 6vw;
}

.middleTitle {
  align-items: flex-end;
  color: var(--light);
  display: flex;
  font-size: var(--teaser);
  font-weight: 300 !important;
  margin-bottom: 1rem;

  @media (max-width: $sm) {
    padding: 0 4vw;
  }

  &::before {
    align-self: center;
    background-color: var(--light);
    content: '';
    display: inline-block;
    height: 1px;
    margin-right: 12px;
    width: 2rem;
  }
}

.middleInner {
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media only screen and (max-width: $sm) {
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.columnItem {
  background-color: var(--black);
  height: 100%;
  flex: 1;
  margin-bottom: 0.5vw;
  overflow: hidden;
  position: relative;

  &::after {
    align-items: flex-end;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    color: var(--sand);
    content: attr(data-content);
    display: flex;
    //font-style: italic;
    font-size: 0.9em;
    height: 90px;
    justify-content: flex-start;
    left: 0;
    letter-spacing: normal;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: opacity 0.4s var(--ease);
    width: calc(100% - 2rem);
  }

  &:hover::after {
    opacity: 1;
    transition: opacity 0.4s var(--ease);
  }

  &::before {
    color: var(--sand);
    content: attr(data-sort);
    display: none;
    font-size: 0.7em;
    left: 0.5vw;
    mix-blend-mode: difference;
    position: absolute;
    bottom: 0.5vw;
    z-index: 1;

    @media only screen and (max-width: $sm) {
      display: none;
    }
  }

  @media only screen and (max-width: $sm) {
    margin-bottom: 1vw;
  }
}

.columnOne,
.columnTwo,
.columnThree,
.columnFour {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 114vw;
  margin-right: 0.5vw;

  @media only screen and (max-width: $sm) {
    flex: initial;
    height: 260vw;
    margin-right: 1vw;
    width: calc(50% - 0.5vw);
  }
}

.columnOne {
  [data-number='2'] {
    flex: 0.6;
  }
}

.columnTwo {
  [data-number='3'],
  [data-number='4'] {
    flex: 0.75;
  }

  [data-number='1'],
  [data-number='2'] {
    flex: 1.25;
  }

  @media (max-width: $sm) {
    margin-right: 0;
  }
}

.columnThree {
  [data-number='2'] {
    flex: 0.6;
  }
}

.columnFour {
  margin-right: 0;

  [data-number='2'] {
    flex: 1.25;
  }
}

.heroList {
  color: var(--sand);
  display: flex;
  display: none;
  flex-wrap: wrap;
  list-style-type: decimal-leading-zero;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;

  @media (max-width: $sm) {
    display: none;
  }

  li {
    color: var(--sand);
    list-style-position: inside;
    float: left;
    font-size: clamp(0.75em, 1.1vw, 30px);
    font-weight: 400;
    line-height: 1.5;
    margin-right: 0.5rem;
    opacity: 0.3;

    &::after {
      content: '/';
      margin-left: 0.5rem;
      opacity: 0.5;
    }

    &:last-of-type::after {
      display: none;
    }
  }
}
