@import './sizes.scss';

.menuContainer {
  background-color: var(--red);
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

.menuSection {
  background-color: var(--dark);
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.menuCloser {
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  right: 4vw;
  position: absolute;
  top: 4vw;
  width: 2rem;
  z-index: 2;

  @media (max-width: $sm) {
    right: 1rem;
    top: 1rem;
  }

  span {
    background-color: var(--light);
    cursor: pointer;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    top: calc(50% - 0.5rem);
    width: 100%;

    &:first-child {
      transform: translateY(50%) rotate(-45deg);
    }

    &:last-child {
      transform: translateY(50%) rotate(45deg);
    }
  }

  &:active {
    transform: scale(0.8);
  }
}

.menuContentWrapper {
  align-items: center;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 6rem 2vw;
  position: relative;

  @media only screen and (min-width: $m) {
    padding: 10vw 6vw;
  }
}

.menuContent {
  max-width: 55vw;
  width: calc(100vw - 8vw);
  z-index: 1;

  @media (max-width: $sm) {
    max-width: none;
  }
}

.menuTitle {
  font-family: ivypresto-display, serif;
  font-size: clamp(21px, 2vw, 40px);
  font-style: normal;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .listItem {
    font-size: clamp(36px, 5vw, 100px);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

    a {
      display: block;
      line-height: 1;
    }

    .linkItem {
      align-items: flex-start;
      display: flex;
      line-height: 1;
    }

    .activeLinkItem {
      color: var(--red);
    }

    .linkNumber {
      font-size: 0.25em;
      font-weight: 500;
      margin-top: 8px;
      margin-right: 8px;
      text-transform: lowercase;
    }

    &:hover {
      color: var(--red);
    }
  }
}

.firstLink {
  margin-left: 5%;
}

.secondLink {
  margin-left: 20%;
}

.thirdLink {
  margin-left: 35%;
}

.fourthLink {
  margin-left: 10%;
}

.fifthLink {
  margin-left: 25%;
}

.sixthLink {
  margin-left: 35%;
}

.menuSocials {
  bottom: 4vw;
  display: flex;
  left: 4vw;
  position: absolute;

  @media (max-width: $sm) {
    bottom: 1rem;
    left: 1rem;
  }

  .socialItem {
    align-items: flex-start;
    color: var(--light);
    display: flex;
    line-height: 1;
    margin-right: 1rem;
    padding-bottom: 2px;

    .socialItemLink {
      margin-right: 0.25rem;
    }

    &:hover {
      color: var(--red);
    }
  }
}
