@import './sizes.scss';

.oversigtSection {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  min-height: 110vh;
  padding: 6rem 2vw;
  position: relative;
  z-index: 80;

  @media only screen and (min-width: $m) {
    padding: 10vw 6vw;
  }
}

.oversigtInner {
  max-width: 55vw;
  width: calc(100vw - 8vw);
  z-index: 1;

  @media (max-width: $sm) {
    max-width: none;
  }
}

.oversigtTitle {
  color: var(--dark);
  font-family: ivypresto-display, serif;
  font-size: clamp(21px, 2vw, 40px);
  font-style: normal;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.list {
  color: var(--dark);
  list-style-type: none;
  margin: 0;
  padding: 0;

  .listItem {
    font-size: clamp(36px, 5vw, 100px);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

    a {
      display: block;
      line-height: 1;
    }

    .linkItem {
      align-items: flex-start;
      display: flex;
      line-height: 1;
    }

    .linkNumber {
      font-size: 0.25em;
      font-weight: 500;
      margin-top: 8px;
      margin-right: 8px;
      text-transform: lowercase;
    }

    &:hover {
      color: var(--red);
    }
  }
}

.firstLink {
  margin-left: 5%;
}

.secondLink {
  margin-left: 20%;
}

.thirdLink {
  margin-left: 35%;
}

.fourthLink {
  margin-left: 10%;
}

.fifthLink {
  margin-left: 0;
}

.sixthLink {
  margin-left: 25%;
}

.scrollVidere {
  bottom: -1.5rem;
  right: 7.5%;
  opacity: 0.2;
  position: absolute;
//  transform: translateX(-50%);
}
