@import './sizes.scss';

.oversigtSection {
  background-color: var(--white);
  min-height: 100vh;
  padding: 6rem 2vw;
  position: relative;

  @media only screen and (min-width: $m) {
    padding: 10vw 6vw;
  }
}

.oversigtInner {
  left: 50%;
  max-width: 600px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 8vw);
  z-index: 1;
}

.oversigtTitle {
  font-family: freight-display-pro, serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  text-align: center;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .listItem {
    font-size: clamp(42px, 5vw, 100px);
    font-weight: 600;
    text-transform: uppercase;

    a {
      display: block;
      line-height: 1;
    }
  }
}

.secondLink {
  margin-left: 15%;
}

.thirdLink {
  margin-left: 30%;
}

.fourthLink {
  margin-left: 10%;
}

.fifthLink {
  margin-left: 25%;
}

.sixthLink {
  margin-left: 5%;
}

.linkItem {
  align-items: flex-start;
  display: flex;
  line-height: 1;
}

.linkNumber {
  font-size: 0.2em;
  font-weight: 500;
  margin-top: 8px;
  margin-right: 8px;
}
