@import './sizes.scss';

.webSection {
  background-color: var(--dark);
  margin: 16vw auto;
  position: relative;
  z-index: 90;
  width: 92vw;

  @media (max-width: $l) {
    width: 96vw;
  }

  @media (max-width: $sm) {
    margin-bottom: 36vw;
  }
}

.upper {
  margin: 0 auto;
  max-width: 60vw;

  @media (max-width: $l) {
    max-width: 72vw;
  }

  @media (max-width: $sm) {
    max-width: 100%;
  }
}

.upperTitle {
  color: var(--sand);
  display: inline-block;
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.015em;
  margin: 0;
  margin-bottom: 2vw;
  width: 45vw;

  @media (max-width: $l) {
    font-size: 4vw;
    width: 60vw;
  }

  @media only screen and (max-width: $sm) {
    font-size: 8vw;
    margin-bottom: 2rem;
    margin-right: 0;
    max-width: none;
    width: 100%;
  }

  span {
    margin-left: 0.75rem;
  }
}

.upperTeaser,
.contentTeaser,
.brandingTeaser {
  align-items: center;
  color: var(--light);
  display: flex;
  font-size: var(--teaser);
  font-weight: 300 !important;
  margin-bottom: 1vw;

  &::before {
    background-color: var(--light);
    content: '';
    display: inline-block;
    height: 1px;
    margin-right: 12px;
    width: 2rem;
  }
}

.upperText {
  color: var(--light);
  line-height: 1.4;
  margin: 1.2vw 0 0 auto;
  max-width: 33vw;
  text-indent: 2vw;

  @media (max-width: $l) {
    max-width: 44vw;
  }

  @media (max-width: $sm) {
    max-width: 100%;
  }
}

.content,
.branding {
  align-items: flex-start;
  display: flex;
  margin: 12vw auto;
  max-width: 85vw;

  @media (max-width: $l) {
    max-width: 100%;
  }

  @media (max-width: $sm) {
    flex-direction: column;
  }
}

.contentImages,
.brandingImages {
  display: flex;
  flex: 2;
  height: 36vw;
  margin-right: 4vw;
  position: relative;
  width: 50vw;

  @media (max-width: $sm) {
    flex: none;
    height: 60vw;
    margin-bottom: 8vw;
    width: 100%;
  }

  .image {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .columnOne {
    flex: 9;
    margin-right: 0.5vw;

    @media (max-width: $sm) {
      margin-right: 1vw;
    }
  }

  .columnTwo {
    display: flex;
    flex: 4;
    flex-direction: column;

    .image:first-of-type {
      margin-bottom: 0.25vw;

      @media (max-width: $sm) {
        margin-bottom: 0.5vw;
      }
    }

    .image:last-of-type {
      margin-top: 0.25vw;

      @media (max-width: $sm) {
        margin-top: 0.5vw;
      }
    }
  }
}

.contentText,
.brandingText {
  color: var(--light);
  flex: 1;

  .contentTeaser,
  .brandingTeaser {
    font-family: ivypresto-display, serif;
  }
}

.brandingImages {
  height: 32vw;
  margin-left: 4vw;
  margin-right: 0;

  @media (max-width: $sm) {
    height: 60vw;
    margin-left: 0;
  }

  .columnOne,
  .columnTwo {
    flex: 1;
  }

  .columnTwo .image:first-of-type {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: $sm) {
  .branding {
    flex-direction: column-reverse;
  }
}

.web {
  margin: 6rem auto 0;
  max-width: 1135px;
  width: 70vw;

  @media (max-width: $l) {
    width: 80vw;
  }

  @media (max-width: $sm) {
    width: 96vw;
  }
}

.case {
  margin-top: 6rem;
  position: relative;
}

.caseNav {
  color: var(--light);
  list-style: none;
  margin: 0;
  margin-bottom: 0.25rem;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 0.25rem;

    &:last-of-type {
      opacity: 0.2;

      &::before {
        content: '/';
        margin-right: 0.25rem;
      }
    }
  }
}

.explainor {
  color: var(--light);
  display: block;
  font-size: 0.8em;
  opacity: 0.3;
}

.caseInner {
  display: flex;
  justify-content: space-between;

  [data='left'] {
    margin-right: 0.5vw;
  }
}

.caseTall,
.caseWide {
  display: block;
}

.reviewWrapper {
  color: var(--light);
  display: inline-block;
  margin: 0.5rem auto 0 0;
  max-width: 400px;
}

.review {
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.reviewer {
  font-size: 1em;
}

.caseInfo {
  color: var(--light);
  display: inline-block;
  float: right;
  margin-top: 0.5rem;
  text-align: right;
  vertical-align: top;

  span {
    display: block;
  }

  a:hover {
    color: var(--red);
  }
}
