@import './sizes.scss';

.referencesSection {
  align-items: flex-start;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  z-index: 90;
  width: 100%;
}

.upperTeaser {
  align-items: center;
  color: var(--light);
  display: flex;
  font-size: 1.1em;
  font-weight: 300 !important;
  margin-bottom: 1rem;

  &::before {
    background-color: var(--light);
    content: '';
    display: inline-block;
    height: 1px;
    margin-right: 12px;
    width: 2rem;
  }
}

.inner {
  margin: 0 auto;
  max-width: calc(100% - 12vw);
  position: relative;
  width: 100%;
}

.imageTitleInner {
  display: flex;
  transition: opacity 0.3s;
  word-break: break-all;

  .imageYear::before {
    content: '(';
  }

  .imageYear::after {
    content: ')';
  }

  .imageYear {
    font-size: 0.3em;

    @media (max-width: $sm) {
      font-size: 0.5em;
    }
  }
}

.titleList {
  cursor: default;
  mix-blend-mode: difference;
  position: relative;
  width: 100%;
  z-index: 1;

  @media (max-width: $sm) {
    pointer-events: none;
  }

  &:hover {
    .imageTitleInner {
      opacity: 0.05;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.imageTitle {
  display: inline-flex;
  font-size: clamp(21px, 3.35vw, 5em);
  margin-right: 1rem;

  @media (max-width: $sm) {
    display: flex;
  }

  &::after {
    content: '/';
    font-weight: 200;
    margin-left: 1rem;
    opacity: 0.1;

    @media (max-width: $sm) {
      display: none;
    }
  }

  .imageTitleInner h3 {
    text-transform: uppercase;
  }
}

.imageList {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.imageWrapper {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.imageInner {
  height: 375px;
  position: relative;
  width: 300px;
  z-index: 0;

  @media (max-width: $sm) {
    height: 320px;
    width: 240px;
  }

  .image {
    opacity: 0;
  }

  .isActive {
    opacity: 1;
  }
}
