@import './sizes.scss';

.referencesSection {
  align-items: flex-start;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16vw auto;
  position: relative;
  z-index: 90;
  width: 92vw;

  @media (max-width: $l) {
    width: 96vw;
  }
}

.upperTeaser {
  align-items: center;
  color: var(--light);
  display: flex;
  font-size: var(--teaser);
  font-weight: 300 !important;
  margin-bottom: 2vw;

  &::before {
    background-color: var(--light);
    content: '';
    display: inline-block;
    height: 1px;
    margin-right: 12px;
    width: 2rem;
  }
}

.inner {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.imageTitleInner {
  display: flex;
  transition: opacity 0.3s;
  word-break: break-all;

  .imageYear::before {
    content: '(';
  }

  .imageYear::after {
    content: ')';
  }

  .imageYear {
    font-size: 0.3em;

    @media (max-width: $sm) {
      font-size: 0.5em;
    }
  }
}

.titleList {
  cursor: default;
  mix-blend-mode: difference;
  position: relative;
  width: 100%;
  z-index: 1;

  @media (max-width: $sm) {
    pointer-events: none;
  }

  &:hover {
    .imageTitleInner {
      opacity: 0.05;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.imageTitle {
  display: inline-flex;
  font-size: 3.35vw;
  margin-right: 1vw;

  @media (max-width: $l) {
    font-size: 3.6vw;
  }

  @media (max-width: $sm) {
    font-size: 6.5vw;
    display: flex;
  }

  &::after {
    content: '/';
    font-weight: 200;
    margin-left: 1vw;
    opacity: 0.1;

    @media (max-width: $sm) {
      display: none;
    }
  }

  .imageTitleInner h3 {
    text-transform: uppercase;
  }
}

.imageList {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.imageWrapper {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.imageInner {
  height: 28vw;
  position: relative;
  width: 20vw;
  z-index: 0;

  @media (max-width: $sm) {
    height: 320px;
    width: 240px;
  }

  .image {
    opacity: 0;
  }

  .isActive {
    opacity: 1;
  }
}
