@import './sizes.scss';

.referencesSection {
  background-color: var(--white);
  min-height: 100vh;
  padding: 6rem 3vw 2rem;
  position: relative;
  z-index: 2;
  width: 100%;

  @media only screen and (min-width: $m) {
    padding: 12vw var(--leftpadding) 6vw var(--rightpadding);
  }
}
